name: ECOM Deploy
on:
  workflow_dispatch:
    inputs:
      runid:
        required: false
        type: string

run-name: "RunID: ${{ inputs.runid }}"

jobs:

  deploy:
    runs-on: windows-latest
    steps:   
      - name: Hello
        run: echo hello2
